* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* INICIO DE ESTILIZAÇÃO DO HEADER  */

header {
  margin: 16px;
  display: flex;
  height: 35px;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-between;
  background-color: aquamarine;
}

nav {
  display: none;
  padding: 20px;
  gap: 32px;
  flex-direction: column;
  align-self: flex-end;
  width: 170vw;
  height: 100vh;
  position: relative;
  background-color: #FFFFFF;
}

#nav > figure {
  align-self: flex-end;
}

ul > li {
  margin-bottom: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* ESTILIZAÇÃO DE LISTA DE ICONES DO HEADER (COMPANY E FEATURES) */

.list-icon-header {
  text-align: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}